body {
  background-color: LightSeaGreen;
  font-family: Arial, sans-serif;
  text-align:center;
}

h1 {
  font-size: 70px;
  color: Blue;
  margin-bottom: 20px;
  text-shadow: 2px 2px Cyan;
}

.home-button {
  position: absolute;
  top: 20px;
  left: 20px;
  font-size: 20px;
}
